body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  height: 100vh;
  /* background-image: url(https://marketplace.canva.com/EAE3pPCWXCk/2/0/1600w/canva-pastel-pink-lilac-and-pastel-blue-neon-retro-desktop-wallpaper-9z96nAyhCvE.jpg) */
  /* background-position:top left; */
  background-repeat:repeat;
  background-attachment:fixed;
  background: linear-gradient(
    to right,
    pink,
    lavender

  )
}