/* * {
  color: #420A7D ;
}*/

h1 {
  font-family: 'Neonderthaw', cursive;
  font-size: xxx-large;
  text-align: center;
  color:#7936C0
}

h3 {
  font-family: 'Neonderthaw', cursive;
  font-size: 50px
  color: #7936C0;
}

body {
  background-color:lavender;
  background-image:url(https://c.tenor.com/jczczEuaQYkAAAAi/yes.gif);
  background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed;
  color: black;
}

  .left {
     width: 600px;
     float: left;
     margin-left: 30px;
  }

  .right {
    width: 600px;
    float: right;
    margin-left: 30px;
    margin-right: 150px;
  }


  button {
    color: #7936C0;
  }

  img {
    width: 32%;
  }

  @media(min-width: 1081px) {
    img{
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    body {
      background-color: #DAF7A6;
      color: #074b13; 
    }
  }


  